extends base

block content
  div.product
    div.product-detail
      div.product-navigation
        a.back-to-products(href="/")
          i.fa-solid.fa-arrow-left
          |  Back to Products
        
      div.product-detail-container
        div.product-images
          div.main-image-container
            img.main-image(src=`/img/${product.category}/${product.imageCover}`, alt="Main Product Image")
          
          div.small-images-container
            div.small-image-box.active
              img.small-image(src=`/img/${product.category}/${product.images[0]}`, alt="Small Image 1", onclick=`changeImage('/img/${product.category}/${product.images[0]}')`)
            div.small-image-box
              img.small-image(src=`/img/${product.category}/${product.images[1]}`, alt="Small Image 1", onclick=`changeImage('/img/${product.category}/${product.images[1]}')`)
            div.small-image-box
              img.small-image(src=`/img/${product.category}/${product.images[2]}`, alt="Small Image 1", onclick=`changeImage('/img/${product.category}/${product.images[2]}')`)

        div.product-details
          h2.product-name#product-name= product.name
          h3.product-price#product-price Rs. #{product.price}
          
          div.product-size-options
            h4 Select Size:
            div.size-buttons
              button.size-btn.active(type="button" onclick="selectSize(this)") Small
              button.size-btn(type="button" onclick="selectSize(this)") Medium
              button.size-btn(type="button" onclick="selectSize(this)") Large
          
          div.product-quantity
            h4 Quantity:
            div.quantity-selector
              button.quantity-btn#decrease-qty - 
              input.qty-input#qty(type="text", value="1", readonly)
              button.quantity-btn#increase-qty +

          div.product-description
            h4 Product Details
            p#product-description= product.description

          div.product-buttons
            a.add-to-cart-btn(href="/cart", role="button")
              i.fas.fa-shopping-cart
              |  Add to Cart
            a.buy-now-btn(href="#", role="button") Buy Now

          div.product-features
            div.feature
              i.fas.fa-truck
              span Free Shipping
            div.feature
              i.fas.fa-undo
              span Easy 30-day Returns
            div.feature
              i.fas.fa-shield-alt
              span Quality Guarantee
